.vs
Temp
*.userprefs
*.csproj
*.sln
*.pdb
Library
*.DS_Store
*.apk
/*.unityproj
Builds/*
Sirenix/Assemblies/AOT

Assets/Libs/Pixel Art Rotation/Documentation\.meta

Assets/Libs/Pixel Art Rotation/Scripts\.meta

Assets/Photon Unity Networking/Demos/DemoPickup\.meta
